body {
    margin: 0;
    background-color: #323232;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    color: wheat;
}

#content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 40vh;
    height: 40vh;
}

td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    font-size: 20px;
    cursor: pointer;
    border-width: 4px;
}

tr:first-child td {
    border-top: none;
}

tr:last-child td {
    border-bottom: none;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

.circle {
    color: lightblue;
    font-size: 10vh;
}

.cross {
    color: yellow;
    font-size: 10vh;
}